.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.vscodeignore
tsconfig.json
tsconfig.backend.json
esbuild.js
build.js
check_esbuild.js
postcss.config.js
tailwind.config.js
**/*.ts
**/*.tsx
**/*.map
!dist/**
!resources/**
